<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="KaiColor" value="#041174"/>
    <add key="YaraColor" value="#666666"/>
    <add key="MorganColor" value="#CC00CC"/>
    <add key="JoshColor" value="#80808C"/>
    <add key="WilliamColor" value="#339933"/>
    <add key="LREColor" value="#FF44AA" />
    <add key="HawkColor" value="#206040" />
    <add key="TychoColor" value="#666699"/>
    <add key="GuylianColor" value="#5200CC"/>
    <add key="RoriSucks" value="Comic Sans MS"/>
    <add key="DateTagText" value="Approximate Date of Scene EDT/EST: " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>